
/* Inicio Ripple Out */
@keyframes ani-ripple-out {
    0% {
        opacity: 1;
    }
	100% {
		top: -(6px + 6px);
		right: -(6px + 6px);
		bottom: -(6px + 6px);
		left: -(6px + 6px);
		opacity: 0;
	}
}

@mixin ani-rippleout {
	$outerBorderWidth: 6px;
	$innerBorderWidth: 6px;

	transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    
	position: relative;

	&:before {
		content: '';
		position: absolute;
		border: #909090 solid $outerBorderWidth;
		top: 0;
		right: 0;
		bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
		animation-duration: 1s;
	}

	&:hover:before,
	&:focus:before,
	&:active:before {
		animation-name: ani-ripple-out;
	}
}
/* Fin Ripple Out */

@keyframes panDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible
    }
}
.load {
  display: flex;
  align-items: center;
  position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	// background: #ffffff;
	// margin: auto;
  z-index: 1000;

  // & + div {
  //   height: 100vh;
  //   overflow: hidden;
  // }
}
.spinner-border{
	margin: auto;
}
// rc-notification
.rc-notification {
	position: fixed;
	z-index: 100;
}
  
.rc-notification-notice {
	display: block;
	width: auto;
	line-height: 1.5;
	vertical-align: middle;
	position: relative;
	margin-right: 25px;
}
.rc-notification-notice-content {
		width: 100%;
		display: block;
}
.rc-notification-notice-close {
	position: absolute;
	cursor: pointer;
	outline: none;
	font-weight: 700;
	line-height: 1;
	opacity: .2;
	text-decoration: none;
	top: 0 !important;
	bottom: 0;
	left: 0;
	right: 0 !important;
}
  
  // .rc-notification-notice-close-x:after {
	// content: '×';
  // }
  
  .rc-notification-fade-enter {
	opacity: 0;
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	animation-play-state: paused;
  }
  
  .rc-notification-fade-leave {
	animation-duration: 0.3s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
	animation-play-state: paused;
  }
  
  .rc-notification-fade-enter.rc-notification-fade-enter-active {
	animation-name: rcNotificationFadeIn;
	animation-play-state: running;
  
	&.right-up {
	  animation-name: rcNotificationRightFadeIn;
	}
  
	&.left-up {
	  animation-name: rcNotificationLeftFadeIn;
	}
  }
  
  .rc-notification-fade-leave.rc-notification-fade-leave-active {
	animation-name: rcDialogFadeOut;
	animation-play-state: running;
  }
  
  @keyframes rcNotificationFadeIn {
	0% {
	  transform: translateY(-100%);
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  @keyframes rcNotificationLeftFadeIn {
	0% {
	  transform: translateX(-100%);
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes rcNotificationRightFadeIn {
	0% {
	  transform: translateX(100%);
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes rcDialogFadeOut {
	0% {
	  transform: translateY(0);
	  opacity: 1;
	}
	100% {
	  transform: translateY(-100%);
	  opacity: 0;
	}
  }
  
  .rc-notification {
	left: auto !important;
	top: 60px !important;
	height: 0;
  
	& > span {
	  height: 0;
	  display: block;
	}
  }
  
  .rc-notification-notice-close {
	right: 45px;
	top: 15px;
	font-size: 26px;
	line-height: 1;
	font-weight: 300;
	color: #646777;
	text-shadow: none;
	opacity: 0.2;
  
	&:hover {
	  opacity: 0.5;
	  color: #646777;
	}
  }
  